<template>
  <div class="fancy-slider" :style="globalCssVars">
    <div class="fancy-slider__track" ref="track">
      <button
        ref="toggler"
        :class="['fancy-slider__toggler', togglerClassNames]"
        :style="togglesCssVars"
        @mouseup="handleMouseUp"
        @mousedown="handleMouseDown"
      />
      <template v-for="idx in totalSlides">
        <div
          :class="['fancy-slider__step', getStepClassNames(idx)]"
          @click="handleStepClick(idx)"
          :key="idx"
        />
      </template>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    totalSlides: {
      type: Number,
      required: true,
    },
    currentSlide: {
      type: Number,
      required: true,
    }
  },
  data() {
    return {
      togglerHolding: false,
    }
  },
  mounted() {
    window.addEventListener('mouseup', this.handleMouseUp)
    window.addEventListener('mousemove', this.handleMouseMove)
  },
  destroyed() {
    window.removeEventListener('mouseup', this.handleMouseUp)
    window.removeEventListener('mousemove', this.handleMouseMoves)
  },
  watch: {
    togglerHolding(isHolding) {
      if (!isHolding) {
        this.$refs.toggler.style.removeProperty('left')
        this.$refs.track.style.setProperty('--track-ghost-width', '0px')
      }
    }
  },
  computed: {
    globalCssVars() {
      return {
        '--step-offset': `${100 / (this.totalSlides - 1)}%`,
        '--toggler-offset': `calc(var(--step-offset) * ${this.currentSlide - 1})`,
        '--track-active-width': `calc(var(--step-offset) * ${this.currentSlide - 1})`,
        '--track-ghost-width': '0px',
      }
    },
    togglesCssVars() {
      return {
        '--treshold-offset': this.currentSlide >= (this.totalSlides / 2)
          ? 'calc(-1 * var(--border))'
          : 'var(--border)'
      }
    },
    togglerClassNames() {
      return {
        'fancy-slider__toggler--holding': this.togglerHolding,
      }
    },
  },
  methods: {
    getStepClassNames(idx) {
      return {
        'fancy-slider__step--active': this.currentSlide === (this.totalSlides - idx + 1)
      }
    },
    handleMouseUp() {
      this.togglerHolding = false
    },
    handleMouseDown() {
      this.togglerHolding = true
    },
    handleMouseMove(event) {
      if (this.togglerHolding) {
        const { track, toggler } = this.$refs
        const { x: trackX, width: trackWidth } = track.getBoundingClientRect()
        const { x: togglerX, width: togglerWidth } = toggler.getBoundingClientRect()
        const offset = event.x - trackX - togglerWidth / 2

        let condition
        condition = (event.movementX > 0 && offset < trackWidth)
        condition = condition || (event.movementX < 0 &&
          (offset + (togglerWidth / 2)) > 0 &&
          (offset + trackX + (togglerWidth / 2)) > trackX)

        if (condition) {
          toggler.style.left = `${offset}px`
          track.style.setProperty('--track-ghost-width', `${offset}px`)
        }
      }
    },
    handleStepClick(idx) {
      this.currentSlide = this.totalSlides - (idx - 1)
    },
  }
}
</script>

<style lang="scss" scoped>
.fancy-slider {
  width: 720px;
  padding: 8px;
  background: #fff;
  border-radius: 99px;

  &,
  &__track {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__track {
    width: 100%;
    height: 6px;
    position: relative;
    background: #EFEFEF;
    border: 1px solid #EFEFEF;
    border-radius: 99px;
    transition: all 300ms ease;
    flex-direction: row-reverse;
    justify-content: space-between;

    &::after,
    &::before {
      content: "";
      left: -1px;
      height: calc(100% + 2px);
      display: block;
      position: absolute;
      border-width: 1px;
      border-style: solid;
      border-radius: 99px;
      transition: all 300ms ease;
    }

    &::after {
      width: var(--track-active-width);
      background: #3063FF;
      border-color: #3063FF;
    }

    &::before {
      width: var(--track-ghost-width);
      background: #C8D3ED;
      border-color: #C8D3ED;
    }
  }

  $self: &;

  &__step {
    --width: 4px;
    --height: 4px;

    z-index: 1;
    cursor: pointer;
    width: var(--width);
    height: var(--height);
    background: #AEAEAE;
    border-radius: 50%;
    transition: all 300ms ease;

    &--active {
      opacity: 0;

      & ~ #{$self}__step {
        background: #fff;
      }
    }
  }

  &__toggler {
    --width: 12px;
    --height: 12px;
    --border: 2px;
    --left: calc(
      var(--toggler-offset) +
      var(--treshold-offset) -
      var(--width) / 2
    );

    cursor: pointer;
    margin: 0;
    padding: 0;
    outline: none;

    width: var(--width);
    height: var(--height);
    border: var(--border) solid #FFFFFF;
    border-radius: 50%;
    background: #3063FF;

    left: var(--left);
    z-index: 2;
    position: absolute;
    transition: all 300ms ease;
    transform-origin: center center;

    &--holding {
      transform: scale(1.65);
    }
  }
}
</style>
