<template>
  <div class="container">
    <fancy-slider
      :totalSlides="12"
      :currentSlide="3"
    />
  </div>
</template>

<script>
export default {}
</script>

<style>
.container {
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #f1f1f1;
}
</style>
